body{
  background-image: url(https://img.myloview.pl/fototapety/wiele-biale-chmury-w-blekitne-niebo-latem-700-52011875.jpg);
  background-size: cover;
  }
  
  .div_1{
  border: 5px solid blueviolet;
  border-radius: 20 px;
  text-align: center;
  background-size: cover;
  margin: 0 auto;
  width: 400px;
  height: 100px;
  box-shadow: blue;
  text-size-adjust: 24;
  font-size:  24;
  
  
  }
  .div_2{
      border: 5px solid blueviolet;
      border-radius: 10 px;
      text-align: center;
      background-size: cover;
      margin: 0 auto;
      width: 300px;
      height: 300px;
      box-shadow: blue;
      text-size-adjust: 20;
      font-size: 20;
  
  
  
  }
      .div_3{
          border: 5px solid blueviolet;
          border-radius: 10 px;
          text-align: center;
          background-size: cover;
          margin: 0 auto;
          width: 300px;
          height: 300px;
          box-shadow: blue;
          text-size-adjust: 20;
          font-size: 20;
  
  
      }
 
